body {
  background-color: #232323;
}

header {
  
  width: 300px;
  text-align: center;
  color: rgba(236, 236, 236, 0.59);
  position: fixed;
  overflow-y: auto;
  }

  
  

nav {
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid color-mix(in srgb, #FFFFFF, transparent 80%);
  font-size: 16px;
  text-align: left;
  margin-top: 2rem;
  font-size: 16px;
}



nav ul li {
  margin-bottom: 2rem;
  list-style: none;
  
}

nav ul li a {
  text-decoration: none;
  color: rgba(236, 236, 236, 0.59);
  margin-left: 0.5rem;
  font-size: 16px;
}


nav ul li a:hover,
nav ul li a :focus {
  color: #ffff;
}


nav ul li i {
  font-size: 26px;
  margin-right: 10px;
}

.container-social-media { 
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color: #ffff;
}

.container-media  {
  background-color: #444444;
  width: 40px;
  height: 40px;
  align-content: center;
  border-radius: 50%;
}
 .bi-chevron-down {

  background-color: #444444;
  border-radius: 50%;
  margin-left: 50px;
}


.container-media i {
  padding-left: 12.5px;

}
