body {
  background-color: #232323;
  font-family: "Roboto", sans-serif;
 
}

header {
  background-color: #1f1f1f;
  width: 270px;
  height: 90vh;
  text-align: center;
  padding: 10px 0;
  color: rgba(236, 236, 236, 0.59);
  position: fixed;
  overflow-y: auto;
  margin: 30px 4px 30px 10px;
  padding: 0 15px;
  border-radius: 30px;
  border: 1px solid color-mix(in srgb, #ffff, transparent 80%);

}

nav {
  text-align: left;
  margin-top: 2rem;
   font-family:'Ubuntu', sans-serif;
   font-size: 16px;
}

nav ul {
  padding-block: 10px 20px;
}

nav ul li {
  margin-bottom: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: rgba(236, 236, 236, 0.59);
  margin-left: 0.5rem;
  font-size: 16px;
}


nav ul li a:hover,
nav ul li a :focus {
  color: #ffff;
}


nav ul li i {
  font-size: 26px;
  font-style: italic;
  margin-right: 10px;
}

.container-social-media {
  height: auto;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color: #ffff;


}

.container-media  {
  background-color: #444444;
  width: 40px;
  height: 40px;
  align-content: center;
  border-radius: 50%;
}
 .bi-chevron-down {

  background-color: #444444;
  border-radius: 50%;
  margin-left: 50px;
}


.container-media i {
  padding-left: 12.5px;

}
